body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#search-section, #download-section, #summarize-section {
    margin-bottom: 20px;
}

#num-results {
    width: 70px;
}

#search-query {
    width: 825px;
}

#json-files {
    width: 750px;
}

#toggle-view-btn {
    width: 150px;
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    width: 150px;
    cursor: pointer;

}

#search-results, #download-results, #summarize-results {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}



.search-results {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.search-results {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.result {
  margin-bottom: 10px;
}

.result p {
  margin-bottom: 2px;
}

.abstract {
  white-space: pre-wrap;
}

.summary {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: pre-wrap;
}

.container {
  max-width: 100%;

}
